#jinja2: trim_blocks: False
{{ caddy_domain }}{% for item in caddy_domain_aliases %}, {{ item }}{% endfor %} {
  tls {{ caddy_email }} {%- if caddy_ie8 %} {
    protocols tls1.0 tls1.2
  } {%- endif %}

  {% if caddy_domain_aliases|length > 0 -%}
  redir 301 {
    if {host} not {{ caddy_domain }}
    / https://{{ caddy_domain }}{uri}
  }
  {%- endif %}

  log / {{ caddy_root }}/logs/access.log "{combined}" {
    rotate {
      size 100
      age 180
    }
  }

  {% if caddy_allow -%}
  ipfilter /wp-admin {%- if not caddy_users %} /wp-login.php {%- endif %} {
    rule allow
    ip {{ caddy_allow }}
    strict
  }

  ipfilter /wp-admin/admin-ajax.php {
    rule block
  }
  {%- endif %}

  ratelimit /wp-login.php 5 7 minute

  {% if caddy_basicauth -%}
  basicauth {{ caddy_basicauth }}
  {%- endif %}

  proxy / localhost:6081 {
    transparent
  }
}

{{ caddy_domain }}:2020 {
  bind localhost

  tls off

  errors {
    log {{ caddy_root }}/logs/error.log {
      size 20
      age 180
    }
  }

  root {{ caddy_root }}/wordpress{{ php_htdocs }}

  {% if caddy_git -%}
  git {
  {% for item in caddy_git %}
    {{ item }} {{ caddy_git[item] }}
  {% endfor %}
  }
  {%- endif %}

  internal /.sucuriquarantine

  internal /wp-content/updraft
  internal /wp-content/uploads/pb_backupbuddy/fileoptions
  internal /wp-content/uploads/sucuri

  internal /wp-config.php
  {% if not caddy_xmlrpc -%}
  internal /xmlrpc.php
  {%- endif %}

  header /downloads Cache-Control "public, max-age=2592000, s-maxage=86400"
  header /wp-content Cache-Control "public, max-age=2592000, s-maxage=86400"
  header /wp-includes Cache-Control "public, max-age=2592000, s-maxage=86400"

  rewrite {
    if {path} not_match ^/wp-admin
    to {path} {path}/ /index.php?_url={uri}
  }

  rewrite /wp-content {
    ext .php
    if {path} not /wp-content/plugins/wp-ui/css/css.php
    to /index.php
  }

  rewrite /wp-content/plugins/sucuri-scanner {
    ext !.gif !.jpeg !.jpg !.png !.css !.js
    to /index.php
  }

  {% if wp_content -%}
  rewrite /wp-content {
    regexp (.*)
    to {{ wp_content }}{1}
  }
  {%- endif %}

  rewrite /wp-includes {
    ext .php
    if {path} not /wp-includes/js/tinymce/wp-tinymce.php
    if {file} not /wp-includes/ms-files.php
    to /index.php
  }

  fastcgi / {{ php_ip }}:9000 php {
    root /var/www/html{{ php_htdocs }}
  }

  {% if caddy_search -%}
  filter rule {
    content_type (?:text|javascript)
    search_pattern https?://{{ caddy_search }}
    replacement https://{{ caddy_domain }}
  }
  {%- endif %}

  {% if wp_content -%}
  filter rule {
    content_type (?:text|javascript)
    search_pattern /wp-content
    replacement {{ wp_content }}
  }
  {%- endif %}

  {% if not caddy_xmlrpc -%}
  # XML-RPC is disabled, so delete the header that points to it.
  header / -X-Pingback
  {%- endif %}

  # Let Varnish re-count the bytes because `filter' does the wrong thing. :c
  header / -Content-Length
}
