[Unit]
Description=WordPress container for {{ name }}
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm {{ name }}
ExecStart=/usr/bin/docker run --name {{ name }} --rm \
  --network wordpress --ip {{ php_ip }} \
  -v /run/mysqld:/run/mysqld:ro \
  -v {{ caddy_root }}/php.ini:/usr/local/etc/php/php.ini:ro \
  -v {{ caddy_root }}/wordpress:/var/www/html \
  wordpress:php{{ php_version }}-fpm-alpine -- php-fpm
ExecReload=/usr/bin/docker restart {{ name }}
ExecStop=/usr/bin/docker stop {{ name }}

[Install]
WantedBy=default.target
