[Unit]
Description=PHP container for {{ name }}
Requires=docker.service
After=docker.service
PartOf=docker.service

[Service]
Type=notify
NotifyAccess=all
Restart=always
RestartSec=10
TimeoutStartSec=120
TimeoutStopSec=15
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/systemd-docker run --name %n --rm \
  --network wordpress --ip {{ php_ip }} \
  -v {{ caddy_root }}/php.ini:/usr/local/etc/php/php.ini:ro \
  -v {{ caddy_root }}/html:/var/www/html \
  php:{{ docker_image }}
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target
