vcl 4.0;

acl local {
    "localhost";
}

backend default {
    .host = "localhost";
    .port = "2020";
}

sub vcl_recv {
    if (req.method == "PURGE") {
        if (client.ip ~ local) {
            return(purge);
        }

        return(synth(405, "Not allowed."));
    }
}

sub vcl_backend_response {
    if (
        beresp.http.content-type ~ "text|javascript|json|svg\+xml|icon|font" &&
        beresp.http.content-type !~ "woff"
    ) {
        set beresp.do_gzip = true;
    }

    if (beresp.http.x-powered-by) {
        set beresp.storage_hint = "dynamic";

        unset beresp.http.x-powered-by;
    }
    else {
        set beresp.storage_hint = "static";
    }
}
