vcl 4.0;

backend default {
  .host = "localhost";
  .port = "2020";
}

sub vcl_backend_response {
  if (beresp.http.content-type ~ "text|javascript|json") {
    set beresp.do_gzip = true;
  }

  if (beresp.http.x-powered-by) {
    set beresp.storage_hint = "dynamic";

    unset beresp.http.x-powered-by;
  }
  else {
    set beresp.storage_hint = "static";
  }
}
